:root {
  --primary-color: #B3D4C3;
  --secondary-color: #016B43;
  --tertiary-color: #1BCF5A;
  --accent-green-color: #003400;
  --accent-white-color: #E3E9E5;
}

#CH-maincontainer{
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
}
#CH-container {
  background-color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20%;
}

#CH-foodCourtDetails {
  font-size: x-large;
  color: var(--accent-green-color);
  margin-bottom: 2%;
}

#CH-details {
  font-size: medium;
  color: var(--accent-green-color);
}

#CH-mapLink {
  font-size: large;
  color: var(--secondary-color);
  text-decoration-line: underline; 
  
}

/* Table styling */
#CH-tableContainer {
  border: 2px solid var(--accent-green-color);
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 10%;
  overflow: hidden;
  background-color: var(--accent-white-color);
  margin-top: 10%;

}

#CH-tableRow {

  padding: 2%
}

#CH-tableHeader {
  display: grid;
  grid-template-columns: 1.7fr 1.5fr 1fr;
  background-color: var(--accent-green-color);
  padding: 1%;
}

#CH-tableText, #CH-tableItem {
  
  font-size: medium;
  font-weight: bold;
  color: var(--accent-white-color);
}

#CH-itemCont{
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
}

#CH-itemText{

  font-size: medium;
  color: var(--accent-green-color);

}

#CH-totalText {
  font-size: large;
  font-weight: bold;
  color: var(--accent-green-color);
  margin: 10px 0;
}

#CH-phoneInput {
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 15px;
  background-color: var(--accent-white-color);
}

/* Button Styles */
#CH-etaButton, #CH-paymentButton {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

#CH-etaButton {
  background-color: var(--tertiary-color);
  padding: 15px;
}

#CH-paymentButton {
  background-color: var(--accent-green-color);
  padding: 15px;
}

#CH-buttonText {
  color:var(--accent-white-color);
  font-size: large;
}

#CH-paymentButtonText {
  color: var(--accent-white-color);
  font-size: large;

}

