
:root {
 
    --primary-color: #B3D4C3;
    --secondary-color: #016B43;
    --tertiary-color: #1BCF5A;
    --accent-green-color: #003400;
    --accent-white-color: #E3E9E5;
}

#main_container {
    flex: 1;
    background-color: var(--primary-color) ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

#foodCourtDetails {
    font-size: 25px;
    color: var(--accent-green-color);
    margin-bottom: 20px;
}

#mapLink {
    color: var(--tertiary-color);
    text-decoration-line: underline; 
}

#payment_amount {
    font-size: 25px;
    font-weight: bold; 
    margin-top: 20%;
    text-align: center; 
}


#button2 {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    justify-content: center;
    width: 80%;
}

#buttonText {
    color:var(--accent-white-color);
    text-align: center;
    font-size: 20px;
}

#buttonContainer{
    width: 40%;
    margin-top: 5%;
    justify-content: space-between;
    flex-direction: row;
}

#button_Cancel{
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
    justify-content: center;
    width: 80%;
}

#button_Proceed{
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 40%;
    justify-content: center;
    width: 80%;
}